Labs/Week_6/Day_1/XML101/src/com/elvis/training_labs_personal/file_System.dtd

<!ELEMENT file (type, permissions,hard-links,file-owner,file-group,size,date,name)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT owner (#PCDATA)>
<!ELEMENT group (#PCDATA)>
<!ELEMENT user (#PCDATA)>
<!ELEMENT permissions (owner,group,user)>
<!ELEMENT hard-links (#PCDATA)>
<!ELEMENT file-owner (#PCDATA)>
<!ELEMENT file-group (#PCDATA)>
<!ELEMENT size (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT name (#PCDATA)>